/*!DECO BOITE*/
.ma-boite {
    background-color: #cf1111;
    border: 3px solid #f1f0f0; 
    border-radius: 25px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    margin: 5px;
    color:#f1f0f0;
    height: auto;
    width: auto;
    padding: 20px;
    
}

#newDiv {
    background-color: #cf1111;
    border: 3px solid #f1f0f0; 
    border-radius: 25px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    margin: 5px;
    color:#f1f0f0;
    height: 212px;
    width: auto;
    padding: 5px;
    
}